name: "Release Build"

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-22.04, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: install trunk
        run: cargo install trunk

      - name: install wasm-bindgen-cli (for Ubuntu)
        if: matrix.platform == 'ubuntu-22.04'
        run: cargo install wasm-bindgen-cli

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libnm-dev libayatana-appindicator3-dev librsvg2-dev

      - name: install tauri-cli
        run: cargo install tauri-cli

      - name: build frontend
        working-directory: ./client
        run: trunk build --release

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__ # tauri-action replaces this with the version from tauri.conf.json
          releaseName: "Psave v__VERSION__"
          releaseBody: "See the assets below to download the latest version of Psave."
          releaseDraft: true
          prerelease: false
          projectPath: ./client
